html{
	background: black;
}

h1{
	color: orange; 
	text-align: center;
	letter-spacing: 5px;
}

canvas{
	margin-left: 120px;
}

#foot{
	color: white;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
}

#heart{
	color: red;
}